# F10 - Proyecto integradorF10 - Proyecto integrador

Desarrolla tu evidencia de aprendizaje mediante un Jupyter Notebook. Asegúrate de incluir explicaciones detalladas en las celdas Markdown en las que describas el funcionamiento de tu código y el razonamiento detrás de cada paso.

In [21]:
import pandas as pd

df = pd.read_csv("/workspaces/PAD_2025_IIB1/src/static/csv/crocodile_dataset.csv")

print(df.columns)

Index(['Observation ID', 'Common Name', 'Scientific Name', 'Family', 'Genus',
       'Observed Length (m)', 'Observed Weight (kg)', 'Age Class', 'Sex',
       'Date of Observation', 'Country/Region', 'Habitat Type',
       'Conservation Status', 'Observer Name', 'Notes'],
      dtype='object')

## Crear conjuntos en Python

In [22]:
import pandas as pd

file_path = ("/workspaces/PAD_2025_IIB1/src/static/csv/crocodile_dataset.csv")
df = pd.read_csv(file_path)

group_a = set(df[df["Common Name"] == "Borneo Crocodile"]["Country/Region"])
group_b = set(df[df["Common Name"] == "Mugger Crocodile"]["Country/Region"])
group_c = set(df[df["Common Name"] == "New Guinea Crocodile"]["Country/Region"])
group_d = set(df[df["Common Name"] == "Saltwater Crocodile"]["Country/Region"])

group_a = {'Indonesia', 'Malaysia'}
group_b = {'India', 'Pakistan', 'Sri Lanka'}
group_c = {'Indonesia', 'Papua New Guinea'}
group_d = {'Australia', 'India', 'Indonesia', 'Iran', 'Malaysia', 'Nepal', 'Pakistan', 'Philippines', 'Sri Lanka'}

print(group_a)
print(group_b)
print(group_c)
print(group_d) 

all_country = group_a.union(group_b).union(group_c).union(group_d)
all_country = {'Australia', 'India', 'Indonesia', 'Iran', 'Malaysia', 'Nepal', 'Pakistan', 'Papua New Guinea', 'Philippines', 'Sri Lanka'}

print((all_country))    

a_and_c = group_a.intersection(group_c)
a_and_c = {'Indonesia'}

print(a_and_c)

a_and_d = group_a.intersection(group_d)
a_and_d = {'Indonesia', 'Malaysia'}

print(a_and_d)

b_and_d = group_b.intersection(group_d)
b_and_d = {'India'}

print(b_and_d)

c_and_d = group_c.intersection(group_d)
c_and_d = {'Indonesia', 'Papua New Guinea'}

print(c_and_d)

common_a_c_d = (group_a).intersection(group_c).intersection(group_d)
common_a_c_d = {'Indonesia'}

print(common_a_c_d)

{'Malaysia', 'Indonesia'}
{'India', 'Pakistan', 'Sri Lanka'}
{'Papua New Guinea', 'Indonesia'}
{'Australia', 'Iran', 'India', 'Pakistan', 'Malaysia', 'Indonesia', 'Sri Lanka', 'Philippines', 'Nepal'}
{'Australia', 'Iran', 'India', 'Pakistan', 'Malaysia', 'Indonesia', 'Papua New Guinea', 'Sri Lanka', 'Philippines', 'Nepal'}
{'Indonesia'}
{'Malaysia', 'Indonesia'}
{'India'}
{'Papua New Guinea', 'Indonesia'}
{'Indonesia'}

## Uso de sets en Python

In [23]:
group_a
{'Indonesia', 'Malaysia'}
group_b
{'India', 'Pakistan', 'Sri Lanka'}
group_c
{'Indonesia', 'Papua New Guinea'}
group_d
{'Australia', 'India', 'Indonesia', 'Iran', 'Malaysia', 'Nepal', 'Pakistan', 'Philippines', 'Sri Lanka'}
all_country = group_a.union(group_b).union(group_c).union(group_d)
all_country
{'Australia', 'India', 'Indonesia', 'Iran', 'Malaysia', 'Nepal', 'Pakistan', 'Papua New Guinea', 'Philippines', 'Sri Lanka'}
for country in all_country:
    groups_in = []
    for letter, group in zip('ABCD', [group_a, group_b, group_c, group_d]):
        if country in group:
            groups_in.append(letter)
    groups_str = '-'.join(groups_in)
    plural = 's' if len(groups_in) > 1 else ''
    print(f'{country} en grupo{plural}: {groups_str}')

Australia en grupo: D
Iran en grupo: D
India en grupos: B-D
Pakistan en grupos: B-D
Malaysia en grupos: A-D
Papua New Guinea en grupo: C
Indonesia en grupos: A-C-D
Nepal en grupo: D
Sri Lanka en grupos: B-D
Philippines en grupo: D

## Métodos disponibles para conjuntos en Python

In [24]:
dir(set)
['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__',
'__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__',
'__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__',
'__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__',
'__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__',
'__sub__', '__subclasshook__', '__xor__',
'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection',
'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove',
'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

## Algebra de conjuntos en Python

In [25]:
group_c.union(group_d)
group_c.difference(group_d)
group_c.intersection(group_d)

print(group_c.union(group_d))
print(group_c.difference(group_d))
print(group_c.intersection(group_d))

group_c.isdisjoint(group_d)
False
print(group_c.isdisjoint(group_d))
group_c.isdisjoint({'1,2,3'})
True
print(group_c.isdisjoint({'1,2,3'}))
group_c.issubset(group_d)
False
print(group_c.issubset(group_d))
group_c.issubset({'Indonesia', 'Papua New Guinea', 'Australia', 'India', 'Iran', 'Malaysia', 'Nepal', 'Pakistan', 'Philippines', 'Sri Lanka'})
False
print(group_c.issubset({'Indonesia', 'Papua New Guinea', 'Australia', 'India', 'Iran', 'Malaysia', 'Nepal', 'Pakistan', 'Philippines', 'Sri Lanka'}))   
group_c.issubset(group_c)
True
print(group_c.issubset(group_c))
group_c.issuperset(group_c)
True
print(group_c.issuperset(group_c))
group_c.issuperset(group_d)
False
print(group_c.issuperset(group_d))
group_c.issuperset({'Indonesia'})
True
print(group_c.issuperset({'Indonesia'}))
group_c.symmetric_difference(group_d)
{'Australia', 'India', 'Iran', 'Malaysia', 'Nepal', 'Pakistan', 'Philippines', 'Sri Lanka', 'Papua New Guinea'}
print(group_c.symmetric_difference(group_d))

{'Australia', 'Iran', 'India', 'Pakistan', 'Malaysia', 'Papua New Guinea', 'Indonesia', 'Nepal', 'Sri Lanka', 'Philippines'}
{'Papua New Guinea'}
{'Indonesia'}
False
True
False
True
True
True
False
True
{'Australia', 'Iran', 'India', 'Pakistan', 'Malaysia', 'Papua New Guinea', 'Sri Lanka', 'Philippines', 'Nepal'}

## Operaciones con conjuntos

In [26]:
group_b = {'India', 'Pakistan', 'Sri Lanka'}
group_d = {'Australia', 'India', 'Indonesia', 'Iran', 'Malaysia', 'Nepal', 'Pakistan', 'Philippines', 'Sri Lanka'}

print(len(group_b))

group_b.add('Bangladesh')
print(group_b)

group_b.remove('India')
print(group_b)

print(group_b.pop())  

try:
    group_b.remove('India')
except KeyError as e:
    print("Error:", e)

group_b.discard('India')
print(group_b)

try:
    print(group_b + group_d)
except TypeError as e:
    print("Error:", e)

print(group_b or group_d)

print(group_b and group_d)

print(group_b, group_d)

3
{'India', 'Pakistan', 'Bangladesh', 'Sri Lanka'}
{'Pakistan', 'Bangladesh', 'Sri Lanka'}
Pakistan
Error: 'India'
{'Bangladesh', 'Sri Lanka'}
Error: unsupported operand type(s) for +: 'set' and 'set'
{'Bangladesh', 'Sri Lanka'}
{'Australia', 'Iran', 'India', 'Pakistan', 'Malaysia', 'Indonesia', 'Sri Lanka', 'Philippines', 'Nepal'}
{'Bangladesh', 'Sri Lanka'} {'Australia', 'Iran', 'India', 'Pakistan', 'Malaysia', 'Indonesia', 'Sri Lanka', 'Philippines', 'Nepal'}

## Frozenset en Python

In [27]:
fs = frozenset(range(5))
print(fs)

try:
    fs.add(9)
except AttributeError as e:
    print("Error:", e)

otro_fs = frozenset([1, 45, 3j, 'hola'])
print(otro_fs)

print(dir(frozenset))

frozenset({0, 1, 2, 3, 4})
Error: 'frozenset' object has no attribute 'add'
frozenset({1, 'hola', 3j, 45})
['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'copy', 'difference', 'intersection', 'isdisjoint', 'issubset', 'issuperset', 'symmetric_difference', 'union']

In [28]:
fs1 = frozenset({0, 1, 2, 3, 4})
print(fs1)

try:
	fs1.add(9)
except AttributeError as e:
	print("Error:", e)

print(isinstance(fs1, frozenset))

fs2 = frozenset({'hola', 1, 3j, 45})
print(fs2)

print([method for method in dir(frozenset) if not method.startswith('__') or method == '__contains__' or method == '__class__' or method == '__str__' or method == '__repr__' or method == '__hash__' or method == '__eq__' or method == '__ne__' or method == '__iter__' or method == '__len__' or method == '__sub__' or method == '__and__' or method == '__or__' or method == '__xor__' or method == '__le__' or method == '__lt__' or method == '__ge__' or method == '__gt__' or method == '__contains__' or method == '__copy__' or method == '__deepcopy__' or method == '__reduce__' or method == '__reduce_ex__' or method == '__sizeof__'])

frozenset({0, 1, 2, 3, 4})
Error: 'frozenset' object has no attribute 'add'
True
frozenset({1, 'hola', 3j, 45})
['__and__', '__class__', '__contains__', '__eq__', '__ge__', '__gt__', '__hash__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__sizeof__', '__str__', '__sub__', '__xor__', 'copy', 'difference', 'intersection', 'isdisjoint', 'issubset', 'issuperset', 'symmetric_difference', 'union']